body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-form-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin: 20px;
}

.ticket-form-title {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Выровнять метки слева */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ticket-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ticket-form-container input[type="text"],
.ticket-form-container textarea,
.ticket-form-container select {
    width: calc(100% - 20px); /* Учитываем внутренние отступы */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

.ticket-form-container textarea {
    resize: vertical; /* Разрешить вертикальное изменение размера */
    height: 200px; /* Увеличена высота текстового поля для описания */
}

.form_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form_button:hover {
    background-color: #0056b3;
}